@using HospitalF.Constant
@using HospitalF.Entities;
@model List<HospitalEntity>

@{
    ViewBag.Title = "Result";
}


<h2>Result</h2>
@foreach (HospitalEntity hospital in Model)
{
    <p>@(hospital.Address)</p>
}
