@{
    Layout = null;   
}
@using HospitalF.Constant

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Tìm Kiếm Bệnh viện - Đăng Nhập</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Basic Styles -->
    <link rel="stylesheet" type="text/css" media="screen" href="../Content/css/bootstrap.m.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../Content/css/font-awesome.m.css">

    <!-- SmartAdmin Styles : Please note (smartadmin-production.css) was created using LESS variables -->
    <link rel="stylesheet" type="text/css" media="screen" href="../Content/css/smartadmin-production.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../Content/css/smartadmin-skins.css">

    <!-- FAVICONS -->
    <link rel="shortcut icon" href="../Content/img/favicon/favicon.ico" type="image/x-icon">
    <link rel="icon" href="../Content/img/favicon/favicon.ico" type="image/x-icon">

    <!-- GOOGLE FONT -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">

    <!-- Specifying a Webpage Icon for Web Clip 
			 Ref: https://developer.apple.com/library/ios/documentation/AppleApplications/Reference/SafariWebContent/ConfiguringWebApplications/ConfiguringWebApplications.html -->
    <link rel="apple-touch-icon" href="../Content/img/splash/sptouch-icon-iphone.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../Content/img/splash/touch-icon-ipad.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../Content/img/splash/touch-icon-iphone-retina.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../Content/img/splash/touch-icon-ipad-retina.png">

    <!-- iOS web-app metas : hides Safari UI Components and Changes Status Bar Appearance -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!-- Startup image for web apps -->
    <link rel="apple-touch-startup-image" href="../Content/img/splash/ipad-landscape.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)">
    <link rel="apple-touch-startup-image" href="../Content/img/splash/ipad-portrait.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)">
    <link rel="apple-touch-startup-image" href="../Content/img/splash/iphone.png" media="screen and (max-device-width: 320px)">
</head>
<body id="login" class="animated fadeInDown">
    <header id="header">
        <!--<span id="logo"></span>-->
        <div id="logo-group">
            <span id="logo">
                <a href="/">
                    <img src="../Content/img/HospitalF.png" alt="SmartAdmin">
                </a>
            </span>

            <!-- END AJAX-DROPDOWN -->
        </div>

        <span id="login-header-space"><span class="hidden-mobile">Chưa có tài khoản?</span> <a href="register.html" class="btn btn-danger">Tạo tài khoản</a> </span>

    </header>
    <div id="main" role="main">
        <div id="content" class="container">

            <div class="row">
                <div class="col-md-8">
                    <h1 class="txt-color-red login-header-big">Tìm Kiếm Bệnh Viện</h1>
                    <div class="hero">
                        <div class="col-md-12 no-padding">
                            <p>
                                <img src="../Content/img/HospitalF - Logo.png" alt="HospitalF">
                            </p>
                            <p>
                                <span style="font-size: 14px;">timkiembenhvien.com © 2014 – <strong>Hệ thống <a href="/" target="_blank" title="Hệ thống tìm kiếm bệnh viện">tìm kiếm bệnh viện</a> hàng đầu Việt Nam</strong><br>
                                    <strong>Văn phòng tại Tp. Hồ Chí Minh</strong>: Công viên phần mềm Quang Trung - STEC, Quận 12, Tp. Hồ Chí Minh, Việt Nam.
                <br>
                                    <strong>Văn phòng tại Hà Nội:</strong> Lầu 9, 70-72 Bà Triệu, Quận Hoàn Kiếm, Hà Nội.<br>
                                    Điện thoại : (08) 3838 3838 | Email CSKH: <a href="mailto:hospitalf@gmail.com" target="_blank" title="Email Chăm sóc khách hàng">hospitalf@gmail.com</a></span>
                            </p>
                        </div>
                    </div>

                </div>
                <div class="col-md-4">
                    <div class="well no-padding">
                        @using (Html.BeginForm(Constants.LoginAction, Constants.AccountController, FormMethod.Post, new { @id = "login-form", @class = "smart-form client-form" }))
                        {
    
                            <header>
                                Đăng Nhập
                            </header>

                            <fieldset>
                                @if (!string.IsNullOrEmpty(ViewBag.ErrorMesage))
                                {
                                    <section>
                                        <div class="alert alert-danger fade in">
                                            <button class="close" data-dismiss="alert">
                                                ×
                                            </button>
                                            <i class="fa-fw fa fa-times"></i>
                                            <strong>Lỗi!</strong> @(ViewBag.ErrorMesage)
                                        </div>
                                    </section>
                                }
                                <section>
                                    <label class="label">E-mail</label>
                                    <label class="input">
                                        <i class="icon-append fa fa-user"></i>
                                        <input type="email" name="email">
                                        <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i>&nbsp;Nhập địa chỉ email đã đăng ký</b></label>
                                </section>

                                <section>
                                    <label class="label">Mật khẩu</label>
                                    <label class="input">
                                        <i class="icon-append fa fa-lock"></i>
                                        <input type="password" name="password">
                                        <b class="tooltip tooltip-top-right"><i class="fa fa-lock txt-color-teal"></i>&nbsp;Nhập mật khẩu</b>
                                    </label>
                                    <div class="note">
                                        <a href="forgotpassword.html">Quên mật khẩu?</a>
                                    </div>
                                </section>

                                <section>
                                    <label class="checkbox">
                                        <input type="checkbox" name="remember" checked="">
                                        <i></i>Ghi nhớ đăng nhập</label>
                                </section>
                            </fieldset>
                            <footer>
                                <button type="submit" class="btn btn-primary">
                                    Đăng Nhập
                                </button>
                            </footer>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        if (!window.jQuery) {
            document.write('<script src="../Content/js/libs/jquery-2.0.2.m.js"><\/script>');
        }
    </script>

    <script>
        if (!window.jQuery.ui) {
            document.write('<script src="../Content/js/libs/jquery-ui-1.10.3.m.js"><\/script>');
        }
    </script>

    <!-- BOOTSTRAP JS -->
    <script src="../Content/js/bootstrap/bootstrap.min.js"></script>

    <!-- CUSTOM NOTIFICATION -->
    <script src="../Content/js/notification/SmartNotification.min.js"></script>

    <!-- JARVIS WIDGETS -->
    <script src="../Content/js/smartwidgets/jarvis.widget.min.js"></script>

    <!-- EASY PIE CHARTS -->
    <script src="../Content/js/plugin/easy-pie-chart/jquery.easy-pie-chart.min.js"></script>

    <!-- SPARKLINES -->
    <script src="../Content/js/plugin/sparkline/jquery.sparkline.min.js"></script>

    <!-- JQUERY VALIDATE -->
    <script src="../Content/js/plugin/jquery-validate/jquery.validate.min.js"></script>

    <!-- JQUERY MASKED INPUT -->
    <script src="../Content/js/plugin/masked-input/jquery.maskedinput.min.js"></script>

    <!-- JQUERY SELECT2 INPUT -->
    <script src="../Content/js/plugin/select2/select2.min.js"></script>

    <!-- JQUERY UI + Bootstrap Slider -->
    <script src="../Content/js/plugin/bootstrap-slider/bootstrap-slider.min.js"></script>

    <!-- browser msie issue fix -->
    <script src="../Content/js/plugin/msie-fix/jquery.mb.browser.min.js"></script>

    <!-- FastClick: For mobile devices -->
    <script src="../Content/js/plugin/fastclick/fastclick.js"></script>

    <script src="../Content/js/app.js"></script>

    <script type="text/javascript">
        runAllForms();
        $(function () {
            // Validation
            $("#login-form").validate({
                // Rules for form validation
                rules: {
                    email: {
                        required: true,
                        email: true
                    },
                    password: {
                        required: true
                    }
                },

                // Messages for form validation
                messages: {
                    email: {
                        required: 'Vui lòng nhập địa chỉ email',
                        email: 'Vui lòng nhập địa chỉ email hợp lệ'
                    },
                    password: {
                        required: 'Vui lòng nhập mật khẩu'
                    }
                },

                // Do not change code below
                errorPlacement: function (error, element) {
                    error.insertAfter(element.parent());
                }
            });
        });

        window.fbAsyncInit = function () {
            FB.init({
                appId: '1403418919945133',
                status: true, cookie: false, xfbml: true
            });
        };
        function afterFacebookConnect() {
            FB.getLoginStatus(function (response) {
                if (response.session) {
                    window.location = "../Account/FacebookLogin?token=" +
                           response.session.access_token;
                } else {
                    // user clicked Cancel
                }
            });
        };
        $(document).ready(function () {
            if (document.getElementById('fb-root') != undefined) {
                var e = document.createElement('script');
                e.type = 'text/javascript';
                e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
                e.async = true;
                document.getElementById('fb-root').appendChild(e);
            }
        });

    </script>
</body>
</html>
